@font-face {
    font-family: 'Josefin sans';
    src: url(Fontes/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);

    font-family: 'Lato';
    src: url(Fontes/Lato/Lato-Regular.ttf);
}

:root {
    --branco-makeitfun: #E5D9B2;
    --azul-makeitfun: #275670;
    --laranja-makeitfun: #FE8F24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--branco-makeitfun);
}

.container-grid {
    width: 85vw;
    max-width: 1400px;

    margin: 0 auto;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 140px;
    background-color: var(--azul-makeitfun);
}

header img {
    width: 125px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu a {
    color: white;
    text-decoration: underline transparent;
    text-decoration-thickness: 1.5px;
    font-size: 18px;
    font-family: "Lato";

    transition: text-decoration 300ms ease;
}

.menu a:hover {
    text-decoration-color: white;
}
.menu button{

    background: none;
    border: none;
}

.conteudo-banner img {
    height: 100%;
    width: 100%;

    border-radius: 0px 0px 40px 40px;
}

.novidades{
    padding-top: 100px;
    padding-bottom: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.novidades img{
    height: 75%;
    width: 80%;

    display: flex;
}
.novidades button{

    background: none;
    border: none;
}
#sobre {

    background-color: var(--azul-makeitfun);

    padding-top: 20px;
    padding-bottom: 50px;
}
#sobre h2{
    font-size: 32px;
    font-family: 'Lato' ;
    color: var(--branco-makeitfun);
}
.empresa a{

    font-family: 'Josefin sans';
    font-size: 28px;
}
.historia{
    font-size: 22px;
    font-family: 'Josefin sans';

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.empresa{
    height: 500px;
    width: 650px;

    background-color: #CDC5A1;
}
.fundadores{ 
    height: 550px;
    width: 700;
    background-color: var(--laranja-makeitfun);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.fundadores img{ 
    height: 225px;
    width: 225px;

}
.Thiago{
    align-self: flex-end;
}

#portfolio{

padding-bottom:40px;
}
.anuncio{

    height: 75px;
    width: 600px;
    
    display: flex;
    justify-content: center;

    background-color: #333;

    margin-top: 40px;
    margin-bottom: 50px;

    font-size: 32px;
    font-family: 'Lato';
 }
 .card{

    height: 180px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    

    background-color: var(--azul-makeitfun);

    margin-bottom: 20px;
    margin-top: 20px;

    border-radius: 4px;
 }
 
 .card-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    color: var(--branco-makeitfun);

    margin: 10px;

 }
 .card p{
    font-family: 'Josefin sans';
    font-size: 22px;
 }
 .card a{
    font-family: 'Josefin sans';
    font-size: 24px;

    display: flex;
    justify-content: end;

    margin-right: 0%;
 }
 .card{

    height: 180px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    

    background-color: var(--azul-makeitfun);

    margin-bottom: 20px;
    margin-top: 20px;
 }

 #formulario {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;

    background-image: url(Imagem/fundo.png);

    background-size: 100%;

 }
 #formulario h2{
    margin-bottom: 80px;
 }
 #formulario form{

    width: 70%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
    background-color: var(--azul-makeitfun);

    color: var(--branco-makeitfun);
    font-family: 'Lato';

 }
#formulario form label{
    margin-bottom: 15px;
    font-size: 22px;
}
.campo{
    width: 60%;

    margin-bottom: 50px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.campo input{
    height: 40px;

    color: #333;
    background-color: var(--branco-makeitfun);

    border: none;
    border-radius: 10px;
    outline: none;
    text-indent: 10px;

    font-family: 'Lato';
    font-size: 22px;

}
.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-makeitfun);
}
.campo-textarea{

    width: 60%;
    margin-bottom: 30px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.campo-textarea textarea{
    color: var(--laranja-makeitfun);
    background-color: var(--branco-makeitfun);

    border: none;
    border-radius: 4px;

    padding: 10px;

    font-family: 'Lato' ;
    font-size: 22px;

    outline: none;
    resize: none;
}
#formulario form button {

    height: 40px;
    width: 60px;

    font-family: 'Lato';
    font-size: 22px;
    font-weight: 600;

    color: var(--branco-makeitfun);
    background-color: var(--laranja-makeitfun);

    border: none;
    border-radius: 6px;

    cursor: pointer;

    text-transform: uppercase;
    transition: background-color 300ms ease;
}
#contato form button:hover{}